header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/assets/header-img.jpg) center/cover;
  background-position: center -214px;
  height: 667px;

  img {
    width: 207px;
    margin-top: 51px;
    margin-left: 69px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 44px;
    line-height: 70px;
  }

  .input-group {
    width: 954px;
    height: 72px;
    padding: 0;
    position: relative;

    .form-control {
      padding-left: 35px;
      border-radius: 11px;
      color: $secondary;
      font-weight: 400;

      &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid white;
        transition: none;
      }
    }
  }
}

.clear-search {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  display: none;
  cursor: pointer;
  z-index: 2;
}

.clear-search i {
  color: $secondary;
  font-size: 16px;
  pointer-events: none;
}

.search-btn {
  background-color: white;
  padding-right: 10px;
  border-radius: 11px;

  &:hover,
  &:focus {
    background-color: white;
  }
}

.btn.search-btn:active {
  background-color: white;
  box-shadow: none;
}

.search-btn i {
  width: 51px;
  height: 52px;
  font-size: 28px;
  background-color: black;
  padding: 10px;
  border-radius: 10px;

  &:hover,
  &:focus {
    background-color: $primary;
    color: black;
  }
}
